#logo img{
    width: 130px;
    height: 110px;
    object-fit: contain;
    margin-right: 10px;
}

#logo .navbar-brand {
    display: flex;
    align-items: center;
    gap: 8px;
}
#Navbar {
  display: flex;
  align-items: center; /* Alinea verticalmente */
  background-color: #399c00; /* Gris, ajusta según tu color */
  height: 130px; /* Ajusta la altura según tu diseño */
  padding: 0 20px; /* Opcional: espacio a los lados */
}

/* Quita el fondo de los navbars internos si lo tienen */
.navbar, .navbar.bg-body-tertiary, .navbar-expand-lg {
  background-color: transparent !important;
}